bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.ActivityMonitor/.idea/avalonia.xml
.idea/.idea.ActivityMonitor/.idea/dataSources.xml
.idea/.idea.ActivityMonitor/.idea/deploymentTargetSelector.xml
.idea/.idea.ActivityMonitor/.idea/deviceManager.xml
.idea/.idea.ActivityMonitor/.idea/indexLayout.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_activity_activity.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_annotation_annotation_experimental.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_annotation_annotation_jvm.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_annotation_annotation.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_appcompat_appcompat_resources.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_appcompat_appcompat.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_arch_core_core_common.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_arch_core_core_runtime.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_collection_collection_jvm.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_collection_collection.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_concurrent_concurrent_futures.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_core_core_ktx.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_core_core_splashscreen.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_core_core_viewtree.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_core_core.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_cursoradapter_cursoradapter.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_customview_customview.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_drawerlayout_drawerlayout.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_emoji2_emoji2_views_helper.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_emoji2_emoji2.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_fragment_fragment.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_interpolator_interpolator.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_common_jvm.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_common.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_livedata_core.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_process.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_runtime_android.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_runtime.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel_savedstate.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_loader_loader.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_profileinstaller_profileinstaller.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_resourceinspection_resourceinspection_annotation.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_savedstate_savedstate.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_startup_startup_runtime.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_tracing_tracing_android.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_tracing_tracing.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_vectordrawable_vectordrawable_animated.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_vectordrawable_vectordrawable.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_versionedparcelable_versionedparcelable.xml
.idea/.idea.ActivityMonitor/.idea/libraries/androidx_viewpager_viewpager.xml
.idea/.idea.ActivityMonitor/.idea/libraries/guava_listenablefuture.xml
.idea/.idea.ActivityMonitor/.idea/libraries/org_jetbrains_kotlin_kotlin_stdlib_common_1_9_10.xml
.idea/.idea.ActivityMonitor/.idea/libraries/org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_9_10.xml
.idea/.idea.ActivityMonitor/.idea/libraries/org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_9_10.xml
.idea/.idea.ActivityMonitor/.idea/libraries/org_jetbrains_kotlinx_kotlinx_coroutines_android_1_7_3.xml
.idea/.idea.ActivityMonitor/.idea/libraries/org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_7_3.xml
ActivityMonitor.code-workspace
ActivityMonitor.sln.DotSettings.user
build-diag.log,verbosity
build.log
corecompile2.log,verbosity
global.json
